.main-cart{
  margin-top: 40px;
}
.image-product-cart{
  width: 100px;
}
.cost-item-carts{
  color: red;
}
.cost-new{
  color: red;
}
.cost-old{
  text-decoration: line-through;
}
.items-cart{
  background-color: pink;
}
.cost-cart{
  background-color: #FC9401;
}
.cost-tamthoi{
  float: right;
}
.sale{
  background-color: pink;
}
