.padding-10 {
  padding: 10px !important;
}

.padding-left-25 {
  padding-left: 25px !important;
}

.home-item-diplsay {
  background: white;
}

.no-padding {
  padding: 0px !important;
}

.padding-top-10 {
  padding-top: 10px !important;
}