.list-products > .hvr-bob {
  display: inherit !important;
  margin: 10px !important;
}

.container > .list-products > .row > .col-lg-3.home-item-diplsay:hover > .home-item-diplsay-image-text > .overlay {
  height: 20%;
}

.container > .list-products > .row > .col-lg-3.home-item-diplsay:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container > .col-md-10 > .main-contain > .list-products > .row > .col-md-4.milk-product-item-display> .milk-product:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}