.text-align-left {
  text-align: left;
}
.min-width-150 {
  min-width: 150px !important;
}
.tab-content{
  min-height: 200px;
}
.width-50-percent{
  width: 50%;
}
.font-size-25{
  font-size: 25px;
}
.modal-ckeditor{
  width: 155%;
  margin-left: -30%;
}
